In [21]:
import pandas as pd
import numpy as np
try:
    import cPickle as pickle
except:
    import pickle

with open ('Quotes_historical.pickle','rb') as f:
    quotes = pickle.load(f)
f.close()

In [15]:
t = quotes['LT.NS']

In [16]:
t

          Date     Open     High      Low    Close   Volume  Adj Close
0   2015-02-02  1696.00  1739.85  1696.00  1735.10  1417100  1679.5920
1   2015-02-03  1742.00  1749.90  1707.35  1722.50  1953800  1667.3951
2   2015-02-04  1729.55  1732.20  1682.40  1688.40  1230600  1634.3860
3   2015-02-05  1690.95  1706.00  1674.10  1682.40  1343900  1628.5780
4   2015-02-06  1682.00  1694.00  1663.00  1683.55  1473700  1629.6912
5   2015-02-09  1663.30  1669.00  1550.00  1572.45  3559800  1522.1453
6   2015-02-10  1545.10  1611.00  1532.15  1571.70  6981300  1521.4193
7   2015-02-11  1587.00  1623.70  1583.70  1612.70  3117000  1561.1077
8   2015-02-12  1618.00  1659.00  1605.20  1650.05  2108100  1597.2629
9   2015-02-13  1660.00  1674.00  1650.00  1662.15  1575700  1608.9758
10  2015-02-16  1665.00  1678.00  1640.10  1648.45  1117600  1595.7140
11  2015-02-18  1654.80  1674.90  1654.00  1663.35  1458500  1610.1373
12  2015-02-19  1668.80  1710.00  1662.40  1698.55  1872500  1644.2113
13  2015-02-20  1700.00  1714.80  1671.50  1677.60  3581700  1623.9315
14  2015-02-23  1686.45  1711.90  1679.35  1687.00  2372600  1633.0308
15  2015-02-24  1691.45  1724.50  1690.05  1721.10  2124300  1666.0398
16  2015-02-25  1725.00  1734.80  1686.00  1697.90  1840100  1643.5821
17  2015-02-26  1699.00  1700.75  1670.00  1678.05  1911700  1624.3671
18  2015-02-27  1702.80  1765.00  1700.00  1758.95  4269700  1702.6790
19  2015-03-02  1782.00  1850.00  1782.00  1846.10  4851300  1787.0409
20  2015-03-03  1850.00  1859.00  1828.10  1851.65  2377800  1792.4134
21  2015-03-04  1870.00  1893.80  1817.00  1837.90  3304600  1779.1033
22  2015-03-05  1842.25  1846.45  1795.00  1826.05  1887700  1767.6324
23  2015-03-09  1817.20  1821.60  1755.00  1762.30  1577600  1705.9219
24  2015-03-10  1769.00  1789.60  1724.05  1752.45  1778900  1696.3869
25  2015-03-11  1764.85  1765.50  1732.20  1739.70  1878300  1684.0448
26  2015-03-12  1750.00  1765.00  1740.15  1747.40  1658900  1691.4985
27  2015-03-13  1766.30  1769.35  1683.20  1692.15  2320000  1638.0160
28  2015-03-16  1698.00  1709.90  1671.30  1679.80  1329900  1626.0612
29  2015-03-17  1696.00  1723.00  1683.20  1715.65  1452000  1660.7642
..         ...      ...      ...      ...      ...      ...        ...
479 2017-01-12  1414.90  1454.30  1414.00  1449.35  1804900  1449.3500
480 2017-01-13  1460.00  1460.00  1432.20  1438.75   933800  1438.7500
481 2017-01-16  1435.00  1450.00  1432.30  1442.80   701800  1442.8000
482 2017-01-17  1440.00  1459.95  1440.00  1445.75   949200  1445.7500
483 2017-01-18  1446.00  1469.00  1446.00  1452.45  1025400  1452.4500
484 2017-01-19  1453.00  1463.00  1445.05  1449.45   679900  1449.4500
485 2017-01-20  1449.45  1453.90  1411.00  1414.75  1451600  1414.7500
486 2017-01-23  1412.00  1413.00  1381.90  1393.55  2356000  1393.5500
487 2017-01-24  1398.25  1424.00  1398.00  1419.80  1253100  1419.8000
488 2017-01-25  1424.80  1454.00  1420.40  1449.75  1529800  1449.7500
489 2017-01-27  1451.05  1470.25  1433.35  1439.90  1247400  1439.9000
490 2017-01-30  1443.00  1467.00  1438.00  1442.80  1734300  1442.8000
491 2017-01-31  1440.00  1455.00  1427.00  1446.25  1262700  1446.2500
492 2017-02-01  1447.95  1494.85  1446.30  1490.25  2385000  1490.2500
493 2017-02-02  1491.60  1494.00  1470.30  1476.50  1505200  1476.5000
494 2017-02-03  1476.50  1488.00  1457.00  1480.70  1100300  1480.7000
495 2017-02-06  1485.00  1500.00  1479.40  1483.80  1017800  1483.8000
496 2017-02-07  1480.20  1504.80  1472.15  1500.30  1666300  1500.3000
497 2017-02-08  1504.80  1511.00  1489.25  1506.85  1126500  1506.8500
498 2017-02-09  1508.00  1510.85  1476.40  1490.70  1019500  1490.7000
499 2017-02-10  1495.25  1508.15  1492.25  1501.95   867300  1501.9500
500 2017-02-13  1505.55  1509.00  1481.55  1500.15   620000  1500.1500
501 2017-02-14  1505.00  1506.95  1486.00  1492.60   617600  1492.6000
502 2017-02-15  1492.70  1505.70  1476.15  1480.00  1301600  1480.0000
503 2017-02-16  1483.90  1485.00  1461.05  1470.25  1381200  1470.2500
504 2017-02-17  1471.05  1485.00  1465.00  1478.00   685700  1478.0000
505 2017-02-20  1482.85  1492.00  1475.05  1482.65   736900  1482.6500
506 2017-02-21  1476.00  1490.10  1476.00  1483.30   647000  1483.3000
507 2017-02-22  1483.00  1488.75  1472.80  1476.95   860800  1476.9500
508 2017-02-23  1480.00  1506.00  1468.20  1486.60  1450200  1486.6000

[509 rows x 7 columns]

In [17]:
quotes.keys()

['ADANIPORTS.NS',
 'RELIANCE.NS',
 'GRASIM.NS',
 'LT.NS',
 'CIPLA.NS',
 'AUROPHARMA.NS',
 'BHEL.NS',
 'YESBANK.NS',
 'INDUSINDBK.NS',
 'HCLTECH.NS',
 'HINDALCO.NS',
 'AXISBANK.NS',
 'ACC.NS',
 'BOSCHLTD.NS',
 'INFY.NS',
 'ONGC.NS',
 'HDFCBANK.NS',
 'LT',
 'TCS.NS',
 'TECHM.NS',
 'EICHERMOT.NS',
 'BHARTIARTL.NS',
 'KOTAKBANK.NS',
 'AMBUJACEM.NS',
 'COALINDIA.NS',
 'ULTRACEMCO.NS',
 'HDFC.NS',
 'ASIANPAINT.NS',
 'BPCL.NS',
 'ITC.NS',
 'SUNPHARMA.NS',
 'HEROMOTOCO.NS',
 'TATAMTRDVR.NS',
 'TATAPOWER.NS',
 'INFRATEL.NS',
 'SBIN.NS',
 'NTPC.NS',
 'TATAMOTORS.NS',
 'LUPIN.NS',
 'TATASTEEL.NS',
 'GAIL.NS',
 'POWERGRID.NS',
 'ICICIBANK.NS',
 'IDEA.NS',
 'HINDUNILVR.NS',
 'M&M.NS',
 'ZEEL.NS',
 'DRREDDY.NS',
 'WIPRO.NS',
 'MARUTI.NS']

In [11]:
np.mean(t.apply(lambda x: abs(x.High-x.Low),axis=1))

26.12058823529412

In [12]:
np.std(t.apply(lambda x: abs(x.High-x.Low),axis=1))

13.97906865418054

In [26]:
for k in quotes.keys():
    df = quotes[k].tail(365)
    st = np.std(df.apply(lambda x: abs(x.High-x.Low),axis=1))
    mean = np.mean(df.apply(lambda x: abs(x.High-x.Low),axis=1))
    if (st/mean <= 0.45) and mean > 20: 
        print k,mean,st

ACC.NS 30.6853424658 13.6059917384
TCS.NS 48.8053424658 21.7182037832
HDFC.NS 27.8978082192 11.3086884099
HEROMOTOCO.NS 66.397260274 29.6876556266